# Maven Build outputs
target/

# Generated configs from IntellJ IDEA
.idea
*.iml

# Generated configs from VSCode
.vscode/

# Generated configs from VSCode Java Extension
.settings
.classpath
.project